* {
    font-family: 'Roboto', 'Sans-serif';
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

.container {
    display: flex;
    flex-direction: row;
    position: relative;
}

.content {
    width: fit-content;
    height: fit-content;
    position: relative;
    margin: 2rem 0;
    padding: 2rem;
    border-radius: 1rem;
    background-color: white;
}

.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    margin: 0;
}

.pokemon-detailPage {
    display: flex;
    flex-direction: column;
    position: fixed;
    max-width: fit-content;
    width: 100%;
    height: fit-content;
    border-radius: 1rem;
}

.pokemon-detailHead {
    width: 100%;
    height: 40%;
    border-radius: 1rem 1rem 0 0;
}

.pokemon-detailInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 999;
    width: 100%;
    height: 60%;
    padding: 1.5rem;
    border-radius: 0 0 1rem 1rem;
    background-color: white;
}

@media screen and (max-width: 380px) {
    .content {
        margin: 2rem auto;
    }

    .pokemon-detailPage {
        display: none;
        position: inherit;
        margin: 10% auto;
    }
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }

    .content {
        margin: 2rem auto;
    }

    .pokemon-detailPage {
        display: none;
        position: inherit;
        margin: 10% auto;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .pokemon-detailPage {
        display: none;
        position: inherit;
    }
}

@media screen and (min-width: 992px) {
    .content {
        right: 35%;
        max-width: 992px;
        max-height: auto;
        margin: 1rem 1rem 1rem auto;
        border-radius: 1rem;
    }

    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .pokemon-detailPage {
        display: block;
        left: 65%;
        position: fixed;
        margin: 6.45rem auto 1rem 1rem;
    }
}

@media screen and (min-width: 1300px) {
    .content {
        right: 40%;
    }

    .pokemon-detailPage {
        left: 60%;
    }
}