.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.fighting {
    background-color: #bf3029;
}

.poison {
    background-color: #a040a0;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aeca;
}

.unknown {
    background-color: lightgray;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 0.75rem;
    border-radius: 1rem;
}

.pokemon .number {
    color: black;
    opacity: 0.3;
    text-align: right;
    font-size: 0.625rem;
}

.name {
    color: white;
    text-align: left;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: white;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem 0;
    font-size: 0.625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
}

.pokemon .detail img {
    max-width: 100%;
    height: 60px;
}

.liButton {
    border: none;
    margin: 0;
    padding: 0;
    background-color: white;
    cursor: pointer;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    margin: 0.25rem 0;
    padding: 0.25rem 0.5rem;
    font-size: 0.625rem;
    color: white;
    border: none;
    border-radius: 1rem;
    background-color: #6c79db;
}

.pokemon-detailHead {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem 1.5rem 0.25rem 1.5rem;
}

.detailHead {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: center;
    max-width: 100%;
}

.nameNumberDiv {
    display: flex;
    justify-content: space-between;
}

.typesInfoHead {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    list-style: none;
    padding: 0;
}

.typesInfoHead li {
    background: white;
    opacity: 0.9;
    padding: 0.3rem;
    border-radius: 0.5rem;
    filter: brightness(1.2);
}

.pokemon-detailHead img {
    max-width: 100%;
    height: 90px;
    transform: scaleX(-1);
}

.pokemon-detailHead span {
    color: white;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.detailInfoButtons {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.detailInfoButton {
    width: 100%;
    margin-bottom: 1.5rem;
    font-size: 0.75rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.detailInfoButton:focus {
    border-bottom: 2px solid #678fee;
}

.detailItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.75rem;
    line-height: 0.25rem;
}

.statItens {
    list-style: none;
    padding: 0;
    margin: 0;
}

.statItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: .75rem;
    line-height: .25rem;
}